{
  "extends": [
    "react-app",
    "plugin: prettier/prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "quotes": [
      "error",
      "backtick"
    ],
    "react/jsx-sort-props": [
      "error"
    ]
  }
}
