@tailwind base;

::selection {
  @apply bg-purple-400;
  transition: all 0.15s ease;
}

html {
  @apply antialiased bg-gray-900;
  font-size: 100 %;
}

body {
  @apply font-sans text-gray-100 bg-gray-900;
  font-size: 18px;
}

a {
  transition: all 0.15s ease;
}

@tailwind components;
@tailwind utilities;
