@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin 'tailwindcss-animate';

@variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: var(--color-white);
  --foreground: var(--color-zinc-950);

  --card: var(--color-gray-50);
  --card-foreground: var(--color-zinc-950);

  --popover: var(--color-white);
  --popover-foreground: var(--color-zinc-950);

  --primary: var(--color-zinc-950);
  --primary-foreground: var(--color-zinc-50);

  --secondary: var(--color-zinc-100);
  --secondary-foreground: var(--color-zinc-900);

  --muted: var(--color-zinc-100);
  --muted-foreground: var(--color-zinc-500);

  --accent: var(--color-zinc-100);
  --accent-foreground: var(--color-zinc-900);

  --destructive: oklch(63.68% 0.2078 25.33);
  --destructive-foreground: var(--color-zinc-50);

  --border: var(--color-zinc-200);
  --input: var(--color-zinc-200);
  --ring: var(--color-zinc-950);

  --radius: 0.5rem;

  --lightmode-scale: 1;
  --darkmode-scale: 0;
  --lightmode-rotate: 0deg;
  --darkmode-rotate: 90deg;
}

[data-theme='dark'] {
  --background: var(--color-zinc-950);
  --foreground: var(--color-zinc-50);

  --card: var(--color-zinc-900);
  --card-foreground: var(--color-zinc-50);

  --popover: var(--color-zinc-50);
  --popover-foreground: var(--color-zinc-950);

  --primary: var(--color-zinc-50);
  --primary-foreground: var(--color-zinc-900);

  --secondary: var(--color-zinc-800);
  --secondary-foreground: var(--color-zinc-950);

  --muted: var(--color-zinc-800);
  --muted-foreground: oklch(72% 0 0);

  --accent: var(--color-zinc-800);
  --accent-foreground: var(--color-zinc-50);

  --destructive: oklch(39.59% 0.1331 25.72);
  --destructive-foreground: var(--color-zinc-950);

  --border: var(--color-zinc-800);
  --input: var(--color-zinc-800);
  --ring: var(--color-zinc-300);

  --lightmode-scale: 0;
  --darkmode-scale: 1;
  --lightmode-rotate: -90deg;
  --darkmode-rotate: 0deg;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius: var(--radius);

  --scale-lightmode: var(--lightmode-scale);
  --scale-darkmode: var(--darkmode-scale);
  --rotate-lightmode: var(--lightmode-rotate);
  --rotate-darkmode: var(--darkmode-rotate);
}

* {
  @apply border-border;
}

body {
  transform: translateZ(0);
  transition:
    background-color 0.2s cubic-bezier(0, 0.19, 0, 0.99),
    color 0.2s cubic-bezier(0, 0.19, 0, 0.99);
  transition-property: background-color, color;
}
