/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
/* @font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2?v=3.18') format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2?v=3.18') format('woff2');
} */

html {
  font-family: 'DM Sans', sans-serif;
}

/* @supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
} */

html,
body {
  @apply lg:text-lg text-pgray-800;
}

body {
  @apply bg-pgray-50;
}

a {
  @apply underline transition-all;
}

/* p > a {
  @apply font-bold text-green-600;
} */

p > a:hover,
p > a:focus {
  text-decoration: underline;
}

.grayscale {
  /* filter: grayscale(100%); */
  /* object-fit: cover; */
  @apply flex place-items-center;
}

.grayscale::after {
  @apply absolute bottom-0 left-0 w-full h-full rounded-full;
  content: '';
  mix-blend-mode: color;
  opacity: 0.5;
  z-index: 1;
}

@layer utilities {
  .text-transparent {
    color: transparent;
  }
}

.wrapper {
  @apply grid;
  grid-template-columns: 1fr min(64ch, 100%) 1fr;
  grid-row-gap: 1.5rem;
}

.wrapper > * {
  grid-column: 2;
}

.full-bleed {
  grid-column: 1 / -1;
  width: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

/* Prose Lists */
.prose ul > li {
  @apply pl-5 my-4;
}

.prose ul > li:before {
  @apply bg-pgray-300;
  width: 0.25rem;
  height: 0.25rem;
}

.prose ul ul > li:before {
  @apply border border-pgray-300;
  background: transparent;
}
