/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2?v=3.18') format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2?v=3.18') format('woff2');
}

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

@layer base {
  body {
    @apply antialiased text-gray-800 bg-gray-50;
  }
}

a {
  @apply transition-all;
}

p > a {
  @apply font-bold text-green-600;
}

p > a:hover,
p > a:focus {
  text-decoration: underline;
}

.container {
  @apply max-w-4xl gap-8 px-8 mx-auto;
}

.grayscale {
  /* filter: grayscale(100%); */
  /* object-fit: cover; */
  @apply flex place-items-center;
}

.grayscale::after {
  @apply absolute bottom-0 left-0 w-full h-full bg-gray-500 rounded-full;
  content: '';
  mix-blend-mode: color;
  opacity: 0.5;
  z-index: 1;
}

@layer utilities {
  .text-transparent {
    color: transparent;
  }
}
