@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2?v=3.18') format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2?v=3.18') format('woff2');
}

/* ::selection {
  @apply text-gray-900 bg-yellow-200;
} */

@layer base {
  html {
    /* font-family: 'DM Sans', sans-serif; */
  }

  /* @supports (font-variation-settings: normal) {
    html {
      font-family: 'Inter var', sans-serif;
    }
  } */

  html,
  body {
    @apply antialiased leading-relaxed font-normal md:text-[17px] lg:text-[18px];
    scroll-behavior: smooth;
  }

  body {
    @apply text-gray-700 transition-all bg-gray-100 dark:bg-gray-800 dark:text-gray-200;
  }

  a {
    @apply transition-colors;
  }
}

@layer components {
  .grayscale {
    @apply flex place-items-center;
  }

  .grayscale::after {
    @apply absolute bottom-0 left-0 w-full h-full rounded-full;
    content: '';
    mix-blend-mode: color;
    opacity: 0.5;
    z-index: 1;
  }
}

/**
 * MIT License
 * Copyright (c) 2018 Sarah Drasner
 * Sarah Drasner's[@sdras] Night Owl
 * Ported by Sara vieria [@SaraVieira]
 * Added by Souvik Mandal [@SimpleIndian]
 */

/*
code[class*='language-'],
pre[class*='language-'] {
  @apply text-sm leading-relaxed;
  color: #d6deeb;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
*/

/* pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  @apply bg-blue-600/25;
  color: inherit;
  text-shadow: none;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  @apply bg-blue-600/25;
  color: inherit;
  text-shadow: none;
} */
