---
import { Container } from "@/components/Container";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="About"
  description="Learn more about Marty Louis Co and how I can help you."
>
  <Container className="my-20">
    <p>About page</p>
  </Container>
</BaseLayout>
