---
import ButtonLink from "@/components/ButtonLink.astro";
import Landmark from "@/components/Landmark.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Style Guide">
  <Landmark block="lg">
    <div class="max-w-2xl">
      <span class="font-light text-neutral-400">
        Productised Web Development Studio
      </span>
      <h1
        class="mt-6 text-2xl font-light text-white"
        set:text="Maximize your online presence with a unique and engaging one-page
        website that delivers outstanding results."
      />
    </div>
  </Landmark>
  <Landmark columns={3} block="none" hasDivider>
    <div class="flex h-full flex-col justify-between p-8">
      <p class="text-neutral-400">
        Michael has a great eye for design and he is an absolute pleasure to
        work with. I definitely plan on working with him on future projects of
        mine. I wholeheartedly recommend him to anyone seeking standout, quality
        work.
      </p><div class="mt-3">
        <span class="mt-3 block font-light">Tony Lea</span><span
          class="block text-neutral-400">Founder of Dev Dojo</span
        >
      </div>
    </div>
    <div class="flex h-full flex-col justify-between p-8">
      <p class="text-neutral-400">
        Michael has a great eye for design and he is an absolute pleasure to
        work with. I definitely plan on working with him on future projects of
        mine. I wholeheartedly recommend him to anyone seeking standout, quality
        work.
      </p><div class="mt-3">
        <span class="mt-3 block font-light">Tony Lea</span><span
          class="block text-neutral-400">Founder of Dev Dojo</span
        >
      </div>
    </div>
    <div class="flex h-full flex-col justify-between p-8">
      <p class="text-neutral-400">
        Michael has a great eye for design and he is an absolute pleasure to
        work with. I definitely plan on working with him on future projects of
        mine. I wholeheartedly recommend him to anyone seeking standout, quality
        work.
      </p><div class="mt-3">
        <span class="mt-3 block font-light">Tony Lea</span><span
          class="block text-neutral-400">Founder of Dev Dojo</span
        >
      </div>
    </div>
  </Landmark>

  <Landmark
    class="flex justify-between gap-8 max-md:flex-col md:items-center md:pt-24"
  >
    <div class="text-xl">Recent projects</div>
    <ButtonLink href="#">See all work</ButtonLink>
  </Landmark>

  <Landmark columns={3} block="none" class="gap-px">
    {
      [...Array(4)].map(() => (
        <div class="aspect-video w-full">
          <img
            src="https://picsum.photos/seed/1701991025985/300/300.jpg"
            alt="placholder"
            class="h-full w-full object-cover"
          />
        </div>
      ))
    }
  </Landmark>

  <Landmark
    id="contentinfo"
    as="footer"
    slot="footer"
    block="lg"
    border="onlyX"
  >
    Footer
  </Landmark>
</BaseLayout>
