---
import ButtonLink from "@/components/ButtonLink.astro";
import { Container } from "@/components/Container";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout
  image={{
    src: "/images/og/martylouis.jpg",
    alt: "Let's make your website better",
  }}
>
  <Container className="mt-9">
    <div class="max-w-2xl">
      <h1
        class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
      >
        UX Designer & Developer
      </h1>
      <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
        I’m Marty, a UX designer and developer based in Destin, Florida. I’m the
        owner of Marty Louis Co, where I help businesses create easy-to-use and
        functional apps and websites.
      </p>
      <div class="mt-6 flex gap-6 text-zinc-600 dark:text-zinc-400">
        <ButtonLink
          size="icon"
          variant="ghost"
          href="https://github.com/martylouis"
          target="_blank"
          rel="noreferrer"
          aria-label="Follow on GitHub"
        >
          <Icon name="github" class="size-6" />
        </ButtonLink>
        <ButtonLink
          size="icon"
          variant="ghost"
          href="https://twitter.com/martylouis"
          target="_blank"
          rel="noreferrer"
          aria-label="Follow on Twitter"
        >
          <Icon name="twitter" class="size-6" />
        </ButtonLink>
        <ButtonLink
          size="icon"
          variant="ghost"
          href="https://www.linkedin.com/in/martylouis/"
          target="_blank"
          rel="noreferrer"
          aria-label="Follow on LinkedIn"
        >
          <Icon name="linkedin" class="size-6" />
        </ButtonLink>
      </div>
    </div>
  </Container>
</BaseLayout>
