---
import ButtonLink from "@/components/ButtonLink.astro";
import { Container } from "@/components/Container";
import Layout from "@/components/Layout.astro";
import { Icon } from "astro-icon/components";

const metadata: Metadata = {
  title: "Marty Thierry - Web Designer & Developer",
  description:
    "👋 Hey I’m Marty, a web designer and developer based in Destin, FL.",
  canonicalURL: "https://martylouis.com/",
};
---

<Layout {...metadata}>
  <Container className="mt-9">
    <div class="max-w-2xl">
      <h1
        class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
      >
        Web Designer, UX Developer
      </h1>
      <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
        I’m Marty, a web designer and developer based in Destin, Florida. I’m
        the owner of Marty Louis Co, where I help businesses create easy-to-use
        and functional websites.
      </p>
      <div class="mt-6 flex gap-6 text-zinc-600 dark:text-zinc-400">
        <ButtonLink
          size="icon"
          variant="ghost"
          href="https://github.com/martylouis"
          target="_blank"
          rel="noreferrer"
          aria-label="Follow on GitHub"
        >
          <Icon name="github" class="size-6" />
        </ButtonLink>
        <ButtonLink
          size="icon"
          variant="ghost"
          href="https://twitter.com/martylouis"
          target="_blank"
          rel="noreferrer"
          aria-label="Follow on Twitter"
        >
          <Icon name="twitter" class="size-6" />
        </ButtonLink>
        <ButtonLink
          size="icon"
          variant="ghost"
          href="https://www.linkedin.com/in/martylouis/"
          target="_blank"
          rel="noreferrer"
          aria-label="Follow on LinkedIn"
        >
          <Icon name="linkedin" class="size-6" />
        </ButtonLink>
      </div>
    </div>
  </Container>
</Layout>
