---
import Landmark from "@/components/Landmark.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section
    class="mx-auto grid max-w-7xl grid-cols-12 gap-6 border-x border-b border-border p-8 md:py-32"
  >
    <div class="col-span-full md:col-start-4">
      <h1 class="font-semibold text-foreground">Hey, I’m Marty 🙌</h1>
    </div>
    <div class="col-span-full md:col-span-6 md:col-start-4">
      <p class="text-4xl font-light">
        I'm a web designer and front-end developer based in sunny Destin,
        Florida. I'm all about helping businesses create awesome apps, websites,
        and brands.
      </p>
    </div>
  </section>
  <Landmark
    block="none"
    class="grid gap-px border-border bg-border md:grid-cols-3 md:border-x"
  >
    {
      [...Array(6)].map(() => (
        <div class="bg-background p-8">
          <img
            src="https://picsum.photos/seed/1701991025985/1200/1600.jpg"
            alt="placholder"
            class="h-full w-full object-cover"
          />
        </div>
      ))
    }
    <!-- <div class="bg-background max-md:hidden" aria-hidden="true"></div> -->
  </Landmark>
</BaseLayout>
