---
import Landmark from "@/components/Landmark.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <Landmark block="lg">
    <div class="max-w-2xl space-y-6">
      <h1 class="font-semibold text-foreground">Hey, I’m Marty 🙌</h1>
      <p class="text-4xl font-light">
        I'm a web designer and front-end developer based in sunny Destin,
        Florida. I'm all about helping businesses create awesome apps, websites,
        and brands.
      </p>
    </div>
  </Landmark>
  <Landmark
    block="none"
    class="grid gap-px border-border bg-border md:grid-cols-3 md:border-x"
  >
    {
      [...Array(6)].map(() => (
        <div class="bg-background p-8">
          <img
            src="https://picsum.photos/seed/1701991025985/1200/1600.jpg"
            alt="placholder"
            class="h-full w-full object-cover"
          />
        </div>
      ))
    }
    <!-- <div class="bg-background max-md:hidden" aria-hidden="true"></div> -->
  </Landmark>
  <Landmark class="border-b-0">
    <div class="max-w-2xl space-y-6">
      <h2 class="font-semibold text-foreground">Footer</h2>
    </div>
  </Landmark>
</BaseLayout>
