---
import Projects from '@/components/Projects.astro';
import { CalPopup } from '@/components/ui/cal-popup';
import { TextEffect } from '@/components/ui/text-effect';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Icon } from 'astro-icon/components';

const meta = {
  title: 'Marty Thierry - Web Designer & Developer',
  description: 'Professional UI/UX Design Without the Agency Overhead',
  canonicalURL: 'https://martylouis.com/',
};

const content = {
  lead: 'Professional Web Design Without the Agency Overhead',
  hook: 'Direct designer access, faster turnaround times, and predictable pricing to keep your projects moving.',
};
---

<BaseLayout {...meta}>
  <div
    class="mb-20 flex flex-col items-center gap-6 text-center max-w-xl mx-auto w-full"
  >
    <TextEffect
      preset="fade-in-blur"
      per="word"
      speedReveal={1.1}
      speedSegment={0.75}
      delay={0.25}
      client:load
      as="h1"
      className="text-4xl tracking-tight"
      text={content.lead}
    />
    <p set:text={content.hook} />
    <div class="flex gap-4">
      <CalPopup client:load>
        <Icon name="calendar-plus" class="mr-1.5 -ml-1 size-4" />Book a
        Discovery Call
      </CalPopup>
    </div>
  </div>

  <Projects />
</BaseLayout>
