---
import marty from "@/assets/img/marty.jpg";
import ButtonLink from "@/components/ButtonLink.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { projectEntries } from "@/lib/entries";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { TextEffect } from "@/components/ui/text-effect";

const meta = {
  title: "Marty Thierry - Web Designer & Developer",
  description: "Professional UI/UX Design Without the Agency Overhead",
  canonicalURL: "https://martylouis.com/",
};

const content = {
  lead: "Professional UI/UX Design Without the Agency Overhead",
  hook: "Direct designer access, faster turnaround times, and predictable pricing to keep your projects moving.",
};
---

<BaseLayout {...meta}>
  <div slot="header">
    <div class="my-16 mx-auto flex max-w-max items-center justify-center gap-3">
      <Image
        src={marty}
        alt="Marty Louis"
        width={96}
        loading="eager"
        class="ring-offset-background ring-border size-12 shrink-0 overflow-hidden rounded-full ring-1 ring-offset-1"
      />
      <div class="mr-2">
        <p><span class="font-bold">Marty Thierry</span></p>
        <p class="text-xs text-zinc-800 dark:text-zinc-300">
          UX/UI Designer & Developer
        </p>
      </div>
    </div>
    <div class="my-16 flex flex-col items-center gap-6 text-center">
      <TextEffect
        preset="fade-in-blur"
        per="word"
        speedReveal={1.1}
        speedSegment={0.75}
        delay={0.25}
        client:load
        as="h1"
        className="text-4xl tracking-tight"
        text={content.lead}
      />
      <p set:text={content.hook} />
      <div class="flex gap-4">
        <ButtonLink target="_blank" href="https://cal.com/martylouis/30min">
          <Icon name="calendar-plus" class="mr-1.5 -ml-1 size-4" />Schedule a
          Chat
        </ButtonLink>
      </div>
    </div>
  </div>

  <div>
    <div class="flex flex-col gap-y-16">
      {projectEntries.map(({ entry }) => <ProjectCard {entry} />)}
    </div>
  </div>
</BaseLayout>
