---
import Landmark from '@/components/Landmark.astro'
import Default from '@/layouts/Default.astro'
---

<Default title="Style Guide">
  <Landmark as="header" slot="header">Header</Landmark>
  <Landmark block="lg">
    <div class="max-w-2xl">
      <span class="font-light text-neutral-400"
        >Productised Web Development Studio</span
      ><h1 class="mt-6 text-2xl font-light text-white">
        Maximize your online presence with a unique and engaging one-page
        website that delivers outstanding results.
      </h1>
    </div>
  </Landmark>
  <Landmark columns={3}>
    <div class="flex h-full flex-col justify-between p-8">
      <p class="text-neutral-400">
        Michael has a great eye for design and he is an absolute pleasure to
        work with. I definitely plan on working with him on future projects of
        mine. I wholeheartedly recommend him to anyone seeking standout, quality
        work.
      </p><div class="mt-3">
        <span class="mt-3 block font-light">Tony Lea</span><span
          class="block text-neutral-400">Founder of Dev Dojo</span
        >
      </div>
    </div>
    <div class="flex h-full flex-col justify-between p-8">
      <p class="text-neutral-400">
        Michael has a great eye for design and he is an absolute pleasure to
        work with. I definitely plan on working with him on future projects of
        mine. I wholeheartedly recommend him to anyone seeking standout, quality
        work.
      </p><div class="mt-3">
        <span class="mt-3 block font-light">Tony Lea</span><span
          class="block text-neutral-400">Founder of Dev Dojo</span
        >
      </div>
    </div>
    <div class="flex h-full flex-col justify-between p-8">
      <p class="text-neutral-400">
        Michael has a great eye for design and he is an absolute pleasure to
        work with. I definitely plan on working with him on future projects of
        mine. I wholeheartedly recommend him to anyone seeking standout, quality
        work.
      </p><div class="mt-3">
        <span class="mt-3 block font-light">Tony Lea</span><span
          class="block text-neutral-400">Founder of Dev Dojo</span
        >
      </div>
    </div>
  </Landmark>
  <Landmark columns={2}>
    <div class="flex h-full flex-col justify-between p-8">
      <p class="text-neutral-400">
        Michael has a great eye for design and he is an absolute pleasure to
        work with. I definitely plan on working with him on future projects of
        mine. I wholeheartedly recommend him to anyone seeking standout, quality
        work.
      </p><div class="mt-3">
        <span class="mt-3 block font-light">Tony Lea</span><span
          class="block text-neutral-400">Founder of Dev Dojo</span
        >
      </div>
    </div>
    <div class="flex h-full flex-col justify-between p-8">
      <p class="text-neutral-400">
        Michael has a great eye for design and he is an absolute pleasure to
        work with. I definitely plan on working with him on future projects of
        mine. I wholeheartedly recommend him to anyone seeking standout, quality
        work.
      </p><div class="mt-3">
        <span class="mt-3 block font-light">Tony Lea</span><span
          class="block text-neutral-400">Founder of Dev Dojo</span
        >
      </div>
    </div>
  </Landmark>
  <Landmark as="footer" slot="footer" block="lg" borderBottom={false}>
    Footer
  </Landmark>
</Default>
