---
import { Container } from "@/components/Container";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Uses"
  description="Learn more about the tools and software I use."
>
  <Container className="my-20">
    <p>Uses page</p>
  </Container>
</BaseLayout>
