---
import { ButtonLink } from '@/components/ui/button';
import {
  IconBrandLinkedin,
  IconBrandLinkedinFilled,
} from '@tabler/icons-react';
import { Icon } from 'astro-icon/components';

const thisYear = new Date().getFullYear();

const data = {
  copyright: `&copy; ${thisYear} <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>.`,
};
---

<footer role="contentinfo" slot="footer" class="container">
  <div class="border-t border-border pb-4 w-full"></div>
  <div class="flex items-center justify-between">
    <p class="text-sm text-muted-foreground" set:html={data.copyright} />
    <div class="flex gap-1">
      <ButtonLink
        size="icon"
        variant="ghost"
        href="https://github.com/martylouis"
        target="_blank"
        rel="noreferrer"
        title="Follow @martylouis on GitHub"
      >
        <Icon name="github" class="size-5" />
      </ButtonLink>
      <ButtonLink
        size="icon"
        variant="ghost"
        href="https://twitter.com/martylouis"
        target="_blank"
        rel="noreferrer"
        title="Follow @martylouis on Twitter"
      >
        <Icon name="twitter" class="size-5" />
      </ButtonLink>
      <ButtonLink
        size="icon"
        variant="ghost"
        href="https://www.linkedin.com/in/martylouis/"
        target="_blank"
        rel="noreferrer"
        title="Follow @martylouis on LinkedIn"
      >
        <Icon name="linkedin" class="size-5" />
      </ButtonLink>
    </div>
  </div>
</footer>
