---
import SiteNav from '@/components/SiteNav';
import { ThemeToggleButton } from '@/components/ui/theme-toggle';
import { Button } from '@/components/ui/button';
import { IconMessage, IconLayoutSidebarLeftExpand } from '@tabler/icons-react';
---

<header
  role="banner"
  class="sticky top-0 z-50 bg-background border-b border-border h-11 flex items-center px-2"
>
  <div class="flex w-full items-center justify-between">
    <a href="/" class="ml-2 font-medium">martylouis.com</a>
  </div>
  <div class="flex items-center gap-3">
    <!-- <SiteNav client:load /> -->
    <ThemeToggleButton client:load />
    <!-- <ButtonLink>
      <IconMessage data-icon="inline-start" />
      Contact
    </ButtonLink> -->
  </div>
</header>
