---
import marty from '@/assets/img/marty.jpg';
import { Image } from 'astro:assets';
---

<header slot="header" role="banner">
  <div class="my-16 mx-auto flex max-w-max items-center justify-center gap-3">
    <div class="mr-2">
      <p><span class="font-bold">Marty Thierry</span></p>
      <p class="text-foreground/75 text-xs">Web Designer & Developer</p>
    </div>
  </div>
</header>
