---
import ButtonLink from "@/components/ButtonLink.astro";
import { ModeToggle } from "@/components/ModeToggle";
import { Icon } from "astro-icon/components";

const thisYear = new Date().getFullYear();

const data = {
  copyright: `&copy; ${thisYear} Marty Louis LLC. Except where otherwise noted, content on this site is licensed under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>.`,
};
---

<footer role="contentinfo" slot="footer">
  <div
    class="border-t-border mt-24 border-t border-r-0 border-b-0 border-l-0 py-16"
  >
    <div class="mb-4 flex gap-2">
      <ButtonLink
        size="icon"
        variant="ghost"
        href="https://github.com/martylouis"
        target="_blank"
        rel="noreferrer"
        title="Follow @martylouis on GitHub"
      >
        <Icon name="github" class="size-5" />
      </ButtonLink>
      <ButtonLink
        size="icon"
        variant="ghost"
        href="https://twitter.com/martylouis"
        target="_blank"
        rel="noreferrer"
        title="Follow @martylouis on Twitter"
      >
        <Icon name="twitter" class="size-5" />
      </ButtonLink>
      <ButtonLink
        size="icon"
        variant="ghost"
        href="https://www.linkedin.com/in/martylouis/"
        target="_blank"
        rel="noreferrer"
        title="Follow @martylouis on LinkedIn"
      >
        <Icon name="linkedin" class="size-5" />
      </ButtonLink>
      <div class="ml-auto">
        <ModeToggle client:load />
      </div>
    </div>
    <p
      class="text-sm dark:text-zinc-400 [&>a]:underline"
      set:html={data.copyright}
    />
  </div>
</footer>
