---
import { ContainerInner, ContainerOuter } from "@/components/Container";
import siteNav, { type NavItem } from "@/data/site.nav";
---

<footer class="mt-32 flex-none">
  <ContainerOuter>
    <div
      class="border-t border-t-zinc-100 pb-16 pt-10 dark:border-t-zinc-700/40"
    >
      <ContainerInner>
        <div
          class="flex flex-col items-center justify-between gap-6 sm:flex-row"
        >
          <div
            class="flex flex-wrap justify-center gap-x-6 gap-y-1 text-sm font-medium text-zinc-800 dark:text-zinc-200"
          >
            {
              siteNav.footer.map(({ href, text }: NavItem) => (
                <a
                  {href}
                  class="transition hover:text-teal-500 dark:hover:text-teal-400"
                  set:html={text}
                />
              ))
            }
          </div>
          <p
            class="text-balance text-center text-sm text-zinc-400 dark:text-zinc-500"
          >
            &copy; {new Date().getFullYear()} Marty Louis LLC. All rights reserved.
          </p>
        </div>
      </ContainerInner>
    </div>
  </ContainerOuter>
</footer>
