---
import { Container } from "@/components/Container"
import { cn } from "@/lib/utils"

const { title, intro, ...props } = Astro.props
---

<Container className={cn("mt-16 sm:mt-32", props.class)}>
  <header class="max-w-2xl">
    <h1
      class="text-balance text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
    >
      {title}
    </h1>
    <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
      {intro}
    </p>
    <slot />
  </header>
</Container>
