---
import { getCollection } from 'astro:content'

const projects = (
  await getCollection('projects', ({ data }) => {
    return data.draft !== true
  })
).sort((b, a) => b.data.order - a.data.order)
---

<ol class="flex w-full flex-col gap-4">
  {
    projects && projects.length > 0 ? (
      projects.map(({ data }) => (
        <li class="w-full">
          <h3 class="text-lg">{data.title}</h3>
          <p class="text-sm">{data.description}</p>
        </li>
      ))
    ) : (
      <p>No projects found.</p>
    )
  }
</ol>
