---
import BaseHead, { type Props as HeadProps } from "@/components/BaseHead.astro"
import BaseHeader from "@/components/BaseHeader.astro"
import Footer from "@/components/Footer.astro"
import PageBackground from "@/components/PageBackground.astro"

import "@/styles/global.css"

export type Props = HeadProps

const { ...head } = Astro.props
---

<html lang="en" class="h-full scroll-smooth antialiased">
  <head>
    <BaseHead {...head} />
    <script src="@/scripts/theme-prefs.ts"></script>
  </head>
  <body
    class="flex min-h-full bg-zinc-50 text-zinc-600 dark:bg-black dark:text-zinc-400"
  >
    <div class="relative flex w-full flex-col">
      <BaseHeader />
      <main class="flex-auto">
        <slot />
      </main>
      <Footer />
    </div>
    <PageBackground />
  </body>
</html>
