---
import BaseFooter from "@/components/BaseFooter.astro";
import BaseHead from "@/components/BaseHead.astro";
import BaseHeader from "@/components/BaseHeader.astro";
import ThemeSwitcher from "@/components/ThemeSwitcher.astro";

import "../styles/global.css";

const { title, description, ...meta } = Astro.props;
---

<html lang="en" class="dark h-full scroll-smooth">
  <head>
    <BaseHead {title} {description} {...meta} />
  </head>
  <body
    class="bg-background text-foreground flex min-h-full w-full flex-col antialiased"
  >
    <div class="mx-auto max-w-xl px-4">
      <slot name="header">
        <BaseHeader />
      </slot>
      <slot name="main">
        <main role="main" class="flex-1">
          <slot />
        </main>
      </slot>
      <slot name="footer">
        <BaseFooter />
      </slot>
    </div>
    <ThemeSwitcher is:raw />
  </body>
</html>
