@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --slate1: 206 30% 98.8%;
  --slate2: 210 16.7% 97.6%;
  --slate3: 209 13.3% 95.3%;
  --slate4: 209 12.2% 93.2%;
  --slate5: 208 11.7% 91.1%;
  --slate6: 208 11.3% 88.9%;
  --slate7: 207 11.1% 85.9%;
  --slate8: 205 10.7% 78%;
  --slate9: 206 6% 56.1%;
  --slate10: 206 5.8% 52.3%;
  --slate11: 206 6% 43.5%;
  --slate12: 206 24% 9%;
  --indigo1: 225 60% 99.4%;
  --indigo2: 223 100% 98.6%;
  --indigo3: 223 98.4% 97.1%;
  --indigo4: 223 92.9% 95%;
  --indigo5: 224 87.1% 92%;
  --indigo6: 224 81.9% 87.8%;
  --indigo7: 225 77.4% 82.1%;
  --indigo8: 226 75.4% 74.5%;
  --indigo9: 226 70% 55.5%;
  --indigo10: 226 58.6% 51.3%;
  --indigo11: 226 55% 45%;
  --indigo12: 226 62% 17%;
  --green1: 136 50% 98.9%;
  --green2: 138 62.5% 96.9%;
  --green3: 139 55.2% 94.5%;
  --green4: 140 48.7% 91%;
  --green5: 141 43.7% 86%;
  --green6: 143 40.3% 79%;
  --green7: 146 38.5% 69%;
  --green8: 151 40.2% 54.1%;
  --green9: 151 55% 41.5%;
  --green10: 152 57.5% 37.6%;
  --green11: 153 67% 28.5%;
  --green12: 155 40% 14%;
}

.dark {
  --slate1: 200 7% 8.8%;
  --slate2: 195 7.1% 11%;
  --slate3: 197 6.8% 13.6%;
  --slate4: 198 6.6% 15.8%;
  --slate5: 199 6.4% 17.9%;
  --slate6: 201 6.2% 20.5%;
  --slate7: 203 6% 24.3%;
  --slate8: 207 5.6% 31.6%;
  --slate9: 206 6% 43.9%;
  --slate10: 206 5.2% 49.5%;
  --slate11: 206 6% 63%;
  --slate12: 210 6% 93%;
  --indigo1: 229 24% 10%;
  --indigo2: 230 36.4% 12.9%;
  --indigo3: 228 43.3% 17.5%;
  --indigo4: 227 47.2% 21%;
  --indigo5: 227 50% 24.1%;
  --indigo6: 226 52.9% 28.2%;
  --indigo7: 226 56% 34.5%;
  --indigo8: 226 58.2% 44.1%;
  --indigo9: 226 70% 55.5%;
  --indigo10: 227 75.2% 61.6%;
  --indigo11: 228 100% 75.9%;
  --indigo12: 226 83% 96.3%;
  --green1: 146 30% 7.4%;
  --green2: 155 44.2% 8.4%;
  --green3: 155 46.7% 10.9%;
  --green4: 154 48.4% 12.9%;
  --green5: 154 49.7% 14.9%;
  --green6: 154 50.9% 17.6%;
  --green7: 153 51.8% 21.8%;
  --green8: 151 51.7% 28.4%;
  --green9: 151 55% 41.5%;
  --green10: 151 49.3% 46.5%;
  --green11: 151 50% 53.2%;
  --green12: 137 72% 94%;
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2?v=3.18') format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2?v=3.18') format('woff2');
}

html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  @apply h-full bg-gray-100 font-sans text-gray-high antialiased;
}

.background-spin {
  background-size: 400%;
  animation: backgroundSpin 2s ease infinite;
}

@keyframes backgroundSpin {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
